.text {
    color: #BCBCBC;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.container {
    text-align: center;
}

.link {
    color: #BFFFC3;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}