.grid {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links {

    text-align: center;
    flex-grow: 1;
}

.links a {
    color: #BFFFC3;
    margin: 0 8px;
}